.input-percentage{
    margin-bottom: 15px;
}
.input-percentage input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-percentage .input-group-addon{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}